[Unit]
Description=Traefik - Reverse Proxy
After=http.socket https.socket
Requires=http.socket https.socket

[Service]
EnvironmentFile=%h/.config/containers/systemd/.env
Sockets=http.socket https.socket
Restart=on-abnormal
TimeoutStartSec=60s
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target default.target

[Container]
ContainerName=traefik
Image=docker.io/library/traefik
AutoUpdate=registry
Pull=newer

EnvironmentFile=.env

Network=shared-network
NetworkAlias=stats.${KUMO_DOMAIN_URL}
NetworkAlias=ntfy.${KUMO_DOMAIN_URL}

Volume=%t/podman/podman.sock:/var/run/docker.sock

Volume=./container-config/traefik/traefik.yaml:/etc/traefik/traefik.yml
Volume=./container-config/traefik/acme.json:/acme.json

Notify=true
SecurityLabelDisable=true
